In [ ]:
#Linear regression with multiple variable

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [2]:
df = pd.read_csv('homeprices.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

price = m1 * areas + m2 * bedrooms + m3 * age + b

y = m1*x1 + m2*x2 + m3*x3 +b

In [4]:
#handeling the value of NaN
median_bedrooms = df.bedrooms.median()

In [7]:
df.bedrooms = df.bedrooms.fillna(median_bedrooms)

In [8]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [ ]:
reg = linear_model.LinearRegression()
reg.fit(df)